*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

renderings/*
!renderings/.gitkeep

results/*
!results/.gitkeep
!results/final_results/*.csv
!results/final_results/plots/.gitkeep

test/test_renderings/*
!test/test_renderings/.gitkeep

bash_scripts/savio_config/*
!bash_scripts/savio_config/.gitkeep
